<!DOCTYPE html>
<html>
<head>
    <title>Agregar contacto</title>

    <style>
        body {
            font-family: Arial;
            background: #a7ffeb;
            text-align: center;
            padding-top: 50px;
        }

        input {
            padding: 10px;
            width: 200px;
        }

        button {
            padding: 10px;
            background: #25d366;
            border: none;
            color: white;
        }
    </style>
</head>

<body>

<h2>Nuevo chat</h2>

<form method="post">
    <input type="text" name="username" placeholder="Usuario">
    <br><br>
    <button>Entrar al chat</button>
</form>

</body>
</html>
